<app-headbar></app-headbar>
<div>
    <video autoplay loop muted plays-inline>
        <source src="../../../assets/video/video1.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">
        <h1 class="text">Bienvenue à Paragon, l'endroit idéal pour célébrer tous vos événements spéciaux.</h1>
        <h2>Un endroit unique pour des événements uniques</h2>
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Réserver</span>
        </button>
    </div>
</div>
<div class="story">
    <h3>Notre histoire</h3>
    <p>
        Bienvenue à Paragon, l'endroit d'exception pour célébrer tous vos événements spéciaux. Située au cœur de Laval, notre salle de réception est
        un véritable joyau qui a été rénové et transformé pour créer une expérience unique. Nous sommes fiers de vous offrir un lieu magique où vos
        rêves prennent vie. Avec plus de 25 ans d'expertise dans l'organisation d'événements, nous sommes dévoués à vous offrir le meilleur service
        pour votre mariage, vos fiançailles, un baptême, un anniversaire mémorable ou même vos fonctions corporatives. Nos trois salles grandioses,
        conçues avec soin, peuvent accueillir jusqu'à 600 personnes. Nous mettons un point d'honneur à vous offrir un service impeccable et
        professionnel, en accordant une attention particulière aux moindres détails. Chaque élément est soigneusement orchestré pour que votre
        réception soit inoubliable. Chez Paragon, nous comprenons que chaque événement est unique, et nous nous efforçons de créer une atmosphère
        féérique qui dépasse vos attentes. Du décor somptueux à la gastronomie raffinée, en passant par l'ambiance enchantée, nous mettons tout en
        œuvre pour faire de votre événement un véritable conte de fées devenu réalité. Faites confiance à notre équipe expérimentée pour vous
        accompagner tout au long du processus de planification et pour réaliser vos souhaits les plus précieux. Laissez-nous créer des souvenirs
        magiques et rendre votre événement spécial véritablement inoubliable. Bienvenue à Paragon, votre destination exclusive pour des événements
        spéciaux d'exception.
    </p>
</div>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.8206478553448!2d-73.76356328687233!3d45.55393337095491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc923bd340a574b%3A0x44ec5a26c9fc0cc1!2s1833%20Bd%20du%20Cur%C3%A9-Labelle%2C%20Laval%2C%20QC%20H7T%201K6!5e0!3m2!1sen!2sca!4v1686615744593!5m2!1sen!2sca"
        width="100%"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>
