<app-headbar></app-headbar>
<div id="personal-info">
    <div class="main-page-container">
        <main class="container">
            <p id="hello">Hello 👋, I'm</p>
            <section class="animation">
                <div class="first"><div>Marsel Bakashov</div></div>
                <div class="second"><div>Software Engineer Student</div></div>
                <div class="third"><div>Web Developer</div></div>
            </section>
        </main>

        <div class="main-page-content">
            <div class="main-page-content__text">
                <p>
                    I am a 3rd year student at Polytechnique Montréal, pursuing a bachelor degree in Software Engineering. I am passionate about
                    software development and I am always looking for new opportunities to learn and grow as a developer.
                </p>
                <p>I am currently looking for a 4-month internship for the fall of 2023. If you are interested in hiring me, please contact me :)</p>
            </div>
        </div>
    </div>
    <div class="main-page-content__image">
        <img src="../../../assets/images/me.jpg" alt="Me" />
    </div>
</div>
