<app-headbar></app-headbar>
<div>
    <video autoplay loop muted plays-inline>
        <source src="../../../assets/video/video1.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">
        <h1 class="text">Bienvenue à Paragon, l'endroit idéal pour célébrer tous vos événements spéciaux.</h1>
        <h2>Un endroit unique pour des événements uniques</h2>
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Réserver</span>
        </button>
    </div>
</div>
<div class="story">
    <h3>Notre histoire</h3>
    <p>
        Bienvenue à Paragon, l'endroit d'exception pour célébrer tous vos événements spéciaux. Située au cœur de Laval, notre salle de réception
        rénovée et transformée offre une expérience unique où vos rêves prennent vie. Avec plus de 25 ans d'expertise dans l'organisation
        d'événements, nous vous offrons un service impeccable et professionnel pour votre mariage, vos fiançailles, un baptême, un anniversaire
        mémorable ou vos fonctions corporatives. Nos trois salles grandioses, pouvant accueillir jusqu'à 600 personnes, sont conçues avec soin et
        chaque détail est orchestré pour rendre votre réception inoubliable. Chez Paragon, nous créons une atmosphère féérique qui dépasse vos
        attentes, avec un décor somptueux, une gastronomie raffinée et une ambiance enchantée. Faites confiance à notre équipe expérimentée pour
        réaliser vos souhaits les plus précieux et créer des souvenirs magiques lors de votre événement spécial. Bienvenue à Paragon, votre
        destination exclusive pour des événements spéciaux d'exception.
    </p>
</div>
<div class="reasons">
    <h3>Pourquoi Paragon est special</h3>
    <div>
        <div>
            Expérience inégalée Paragon offre plus de 25 ans d'expérience dans l'organisation d'événements, assurant un service impeccable et
            professionnel.
        </div>
        <div>
            Lieu magique et personnalisé Paragon transforme sa salle de réception en un lieu féérique où vos rêves prennent vie grâce à un décor
            somptueux et une ambiance enchantée.
        </div>
        <div>
            Service complet et commodités incluses Paragon propose des forfaits tout compris comprenant la location de salles, la décoration et tous
            les éléments nécessaires pour simplifier votre événement spécial.
        </div>
    </div>
</div>
<div class="pictures">
    <h3>PHOTO</h3>
</div>
<div class="testimonials">
    <h3>GOOLE REVIEWS</h3>
</div>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.8206478553448!2d-73.76356328687233!3d45.55393337095491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc923bd340a574b%3A0x44ec5a26c9fc0cc1!2s1833%20Bd%20du%20Cur%C3%A9-Labelle%2C%20Laval%2C%20QC%20H7T%201K6!5e0!3m2!1sen!2sca!4v1686615744593!5m2!1sen!2sca"
        width="100%"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>
