#main-container {
    position: absolute;
    top: 10vh;
    width: 100%;
}

#banner {
    height: 10vh;
    // background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-bottom: 2px solid black;
}

#forfaits-btn-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
