<div id="grid-container">
    <div id="entry">
        <h1>Entrées</h1>
        <p>Soupe</p>
        <p>Salade</p>
        <p>Antipasto</p>
        <p>Bruschetta</p>
        <p>Pâtes</p>
    </div>
    <div id="main-course">
        <h1>Plats principaux</h1>
        <p>Poitrine de poulet grillée</p>
        <p>Rôti de bœuf français</p>
        <p>Filet de saumon</p>
        <p>Filet de porc</p>
        <p>Boeuf bourguignon</p>
        <p>Entrecôte</p>
        <p>Rôti de boeuf au jus</p>
        <p>Spencer steak</p>
        <p>Filet mignon</p>
        <p>Veau</p>
        <p class="note-text">Accompagné de pomme de terre, riz et légumes</p>
    </div>
    <div id="dessert">
        <h1>Station de Desserts</h1>
        <p>Variété de fruits tropicaux</p>
        <p>Trempette de chocolat</p>
        <p>Minis pâtisseries et Variété de gâteaux</p>
        <p>Gâteau de mariage De votre choix</p>
    </div>
    <div id="drinks">
        <h1>Boissons</h1>
        <p>Punch</p>
        <p>Toast champagne</p>
        <p>Bar PREMIUM ouvert toute la Soirée</p>
        <p class="note-text">Café et thé à volonté</p>
    </div>
    <div id="other">
        <h1>Autre</h1>
        <p>Canapés</p>
        <p>Hors d'oeuvres</p>
        <p>Décoration DELUXE Table D'honneur inclus</p>
        <p>Centre de table Chandelier 4 tiges inclus</p>
        <p>Chaise Channel inclus</p>
    </div>
    <div id="price">
        <div class="flex-column">
            <h1>158,99$ par personne</h1>
            <p class="note-text-price">Taxes et frais de 5% administrative en sus</p>
        </div>
    </div>
</div>
